@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
header{
    height: 100px;
    background-color: #565656;
}

.inline-blcok {
    display: inline-block; 
}

.hover-animation img {
    display: inline-block;
    margin: 20px 10%;
    float: left;
}


.navbar_menu {
    float: right;
    display: flex; 
    align-items: center;
    min-height: 90px;
    margin-top: -25px;
    margin-right: 10%;
}

.menu-toggle-btn {
    float: right;
    color: white;
    font-size: 40px;
    height: 90px;
    line-height: 100px !important;
    margin-right: 100px;
    display: none !important;
    cursor: pointer;
} 
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: white;
    
}
    
a {
    font-family: 'Notable', sans-serif;
    font-size: 36pt;
    padding: 40px;
    color: white;
    text-decoration: none;
      
}

.heroImg {
    display: grid;
    grid-template-rows: 1fr 300px 100px ;
    grid-template-columns: 1fr 1000px 1fr;
    height: 600px;
    padding: 100px 10%;
    align-items: center;
    margin-bottom: 300px;
    margin-left: 600px;
    
}
.heroImg img {
    height:600px;
    width: 900px;
    margin-top: 10%;
    
    margin-right: auto;
    align-items: center;
    
}
.content {
    height: auto; 
    width: 1000px;
    margin: 0 auto;
    
}
footer {
    background-color: #373738;
    display: block;
}
footer ul {
    display: inline-block;
    color: white;
}
p {
    font-family: 'Alumni Sans', sans-serif;
    font-size: 16pt;
    font-weight: 600;
}
body {
    background-color: #E0E0E0;
}

button {
    background-color:cornflowerblue;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Alumni sans', sans-serif;
    font-weight: 700;
   
}

.myWork h1 {
    display: grid;
    font-family:'Notable', sans-serif;
    font-size: 64pt;
    margin-top: 300px;
    margin-left: 400px;
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 2 span;
    align-items: center;
}
.mySkills h1 {
    display: grid;
    font-family:'Notable', sans-serif;
    font-size: 64pt;
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 2 span;
    align-items: center;
    margin-top: 300px;
    margin-left: 400px;
}
h4 {
    font-family: 'Notable', sans-serif;
    font-size: 24pt;
    margin-left: 10%;
    text-align: center;
}
.flexContainer1 {
    display: inline-block;
    border: 1px solid black;
    width: 450px;
    height: 697px;
    padding: 5%;
    margin-left: 400px;
    margin-right: 25px;
    margin-top: 41px;
    align-items: center;
    flex-direction: row;
    text-align: center;
    grid-row-start: 2;
   
    }
    
.flexContainer2 {
    display: inline-block;
    border: 1px solid black;
    width: 450px;
    height: 697px;
    padding-bottom: 5%;
    padding-top: 6%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: -8%;
    margin: 41px 150px;
    align-items: center;
    flex-direction: row;
    text-align: center;
    grid-row-start: 2;    
}
.flexContainer3 {
    display: inline-block;
    border: 1px solid black;
    width: 450px;
    height: 697px;
    padding: 5%;
    
    margin-right: 400px;
    margin-top: 41px;
    align-items: center;
    flex-direction: row;
    text-align: center;
    grid-row-start: 2;
    
}

.flexContainer1 li {
    font-family: 'Alumni Sans', sans-serif;
    font-size: 24pt;
    font-weight: 600;
    text-align: left;
    
}
.flexContainer2 li {
    font-family: 'Alumni Sans', sans-serif;
    font-size: 24pt;
    font-weight: 600;
    text-align: left;
}
.flexContainer3 li {
    font-family: 'Alumni Sans', sans-serif;
    font-size: 24pt;
    font-weight: 600;
    text-align: left;
}
.flexContainer1 img {
    width: 200px;
    height: 200px;
    flex-direction: row;
    margin-left: 10%;
    margin-top: 10%;
    align-items: center;
}    
.flexContainer2 img {
    width: 200px;
    height: 200px;
    flex-direction: row;
    margin-left: 10%;
    margin-top: 10%;
    align-items: center;
}
.flexContainer3 img {
    width: 200px;
    height: 200px;
    flex-direction: row;
    margin-left: 10%;
    margin-top: 10%;
    align-items: center;
}    

.mySkills { 
    display: grid;
    grid-template-rows: 600px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: -300px;
    
}


.myWork {
    display: grid;
    grid-template-rows: 600px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 10%;
    
    margin-top: -200px;
}
.workGrid1 {
    display: inline-block;
    width: 400px;
    height: 700px;
    border: 1px solid black;
    align-items: center;
    text-align: center;
    flex-direction: row;
    padding: 10%;
    margin-left: 400px;
    grid-row-start: 2;
}

.workGrid2 {
    display: inline-block;
    width: 400px;
    height: 700px;
    border: 1px solid black;
    align-items: center;
    text-align: center;
    flex-direction: row;
    padding: 10%;
    margin-left: 200px;
    margin-right: 0px;
    grid-row-start: 2;
    
    
}
.workGrid3 {
    display: inline-block;
    width: 400px;
    height: 700px;
    border: 1px solid black;
    align-items: center;
    text-align: center;
    flex-direction: row;
    padding: 10%;
    margin-right:400px;
    grid-row-start: 2;
}

.workGrid1 img {
   width: 300px;
   height: 380px;

}
.workGrid2 img {
    width: 300px;
    height: 380px;
 
 }
 .workGrid3 img {
    width: 300px;
    height: 380px;
 
 }



.footerGrid {
    display: grid;
    grid-area: 1 / 1;
    
}
footer {
    font-size: 40pt;
    color: white;
}

@media only screen and (max-width:2100px) {
    .navbar_menu a{
        font-size: 40px;
    }
    
    .heroImg {
        margin-left:400px;
    }
    .workGrid1 {
        display: inline-block;
        width: 300px;
        height: 700px;
        border: 1px solid black;
        align-items: center;
        text-align: center;
        flex-direction: row;
        padding: 10%;
        margin-left: 400px;
}
    .workGrid2 {
        display: inline-block;
        width: 300px;
        height: 700px;
        border: 1px solid black;
        align-items: center;
        text-align: center;
        flex-direction: row;
        padding: 14%;
        margin-left: 200px;
}
    .workGrid3 {
       display: inline-block;
       width: 300px;
       height: 700px;
       border: 1px solid black;
       align-items: center;
       text-align: center;
       flex-direction: row;
       padding: 7.9%;
       margin-left: 200px;
    }
}
@media screen and (max-width:1660px) {
    .navbar_menu a{
        font-size: 25px;
        margin-top: 20px;
    }
  
    
}
@media only screen and (max-width: 1300px) {
    .heroImg {
        margin-left: -50px;
    }
    .menu-toggle-btn {
        display: block !important;
    }
    .navbar_menu {
        position: fixed;
        width: 100%;
        max-width: 400px;
        top: 133px;
        background: #373738;
        right: -40px;
        display: none;
        padding: 20px 40px;
        box-sizing: border-box;
    }
    .navbar_menu:before {
        content: "";
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #373738;
        position: absolute;
        top: -10px;
        right: 12%;
    }
    .navbar_menu a {
        font-size: 30px;
        color: white;
        margin: 10px 0;
        display: block;
    }
    .navbar_menu.active {
        display: block;
    }
    .heroImg {
        width: 100%;
        margin-left: 
        
    }

   
    .myWork {
        display: inline-block;
        width: 100%;
    }
    .myWork h1 {
        font-size: 40pt;
        margin-left:0;
    }
    .workGrid1 {
        width: 80%;
        height: auto;
        margin-left: 0%;
        margin-bottom: 30px;
    }
    .workGrid2 {
        width: 72%;
        height: auto;
        margin-left: 0%;
        margin-bottom: 30px;
    }    
    .workGrid3 {
        width: 84%;
        height: auto;
        margin-left: 0%;
        margin-bottom: 30px;
    }  
    .mySkills {
        display: inline-block;
        width: 100%;
        margin-top: -30%;
    }
    .mySkills h1 {
        font-size: 40pt;
        margin-left: 0%;
        margin-bottom: 0;
    }
    .flexContainer1 li {
        font-size: 20pt;
    }
    .flexContainer2 li {
        font-size: 20pt;
    }
    .flexContainer3 li {
        font-size: 20pt;
    }
    .flexContainer1 {
        width: 90%;
        height: auto;
        margin-left: 0;
    }
    .flexContainer2 {
        width: 90%;
        height: auto;
        margin-left: 0;
        margin-bottom: 0px;
    }
    .flexContainer3 {
        width: 90%;
        height: auto;
        margin-left: 0;
    }
    h4 {
        font-size: 20pt;
    } 
    p {
        font-size: 20pt;
    }
    .heroImg img {
        width: 50%;
        height: 30%;
        margin: 0;
    }
    .content p {
        width: 50%;
        height: auto;
        margin-left: 0;
    }

};

@media only screen and (max-width:860px;) {
    .mySkills {
    }
}


